@import url('https://fonts.googleapis.com/css?family=Bitter|Lato')

html, body
  font-family: $regularFont
  font-size: 16px
  text-rendering: optimizeLegibility

body
  background-color: $bgColor

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  font-family: $headingFont
