// ##########################
// CUSTOM MIXINS
// ##########################

// Add background with parallax effect
=backgroundParallax($bg, $overlay)
  background: url($bg) left top no-repeat
  background-size: cover
  background-attachment: fixed
  position: relative
  display: flex
  align-items: center

  &::before
    content: ""
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%
    background: url($overlay)

// Add a :before container to house the bottom border, this allows for a smoother and customizable border animation
=borderBottom($height)
  content: ""
  position: absolute
  left: 0
  bottom: 0
  display: block
  height: $height

// Change Bootstrap's navbar breakpoint
=navbarBreakpoint($width)
  @media(max-width: $width)
    .navbar-header
      float: none

    .navbar-left,.navbar-right
      float: none !important

    .navbar-toggle
      display: block
      margin-top: 0

    .navbar-collapse
      border-top: 1px solid transparent
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1)
      &.collapse
        display: none !important

    .navbar-fixed-top
      top: 0
      border-width: 0 0 1px

    .navbar-nav
      float: none !important
      margin-top: 7.5px
      &>li
        float: none
        &>a
          padding-top: 10px
          padding-bottom: 10px

    .collapse.in
        display: block !important
        overflow: visible !important

// Even top and bottom padding for inner content.
=innerPadding($top, $bottom)
  padding-top: $top
  padding-bottom: $bottom

// ##########################
// MEDIA QUERIES
// ##########################
=breakpoint($point)
  @if $point == lu
    @media (min-width: 1200px)
      @content
  @else if $point == ld
    @media (max-width: 1200px)
      @content
  @else if $point == ml
    @media (max-width: 1200px) and (min-width: 992px)
      @content
  @else if $point == mu
    @media (min-width: 992px)
      @content
  @else if $point == md
    @media (max-width: 992px)
      @content
  @else if $point == sm
    @media (max-width: 992px) and (min-width: 768px)
      @content
  @else if $point == su
    @media (min-width: 768px)
      @content
  @else if $point == sd
    @media (max-width: 768px)
      @content

  // OPTIONAL
  @else if $point == xs
    @media (max-width: 500px)
      @content
  @else if $point == legacy
    @media (max-width: 350px)
      @content
