$white: rgb(255, 255, 255)
$black: rgb(0, 0, 0)

// ##########################
// SITEWIDE FONTS
// ##########################
$regularFont: 'Lato', sans-serif
$headingFont: 'Bitter', serif

// ##########################
// SITEWIDE COLORS
// ##########################
$red: rgb(236, 71, 71)
$blue: rgb(50, 130, 255)
$violet: rgb(100, 91, 153)
$darkBlue: rgb(46, 20, 204)
$brown: rgb(204, 96, 20)
$skinTone: rgb(255, 193, 114)

// ##########################
// ELEMENT COLORS
// ##########################
$topNav: rgba($white, 0.9)
$bgColor: rgb(248, 248, 248)
